html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url(../assets/library.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  box-shadow: 0px 5px 5px black;
}

.book_container h4 {
  text-align: center;
  margin-bottom: 0;
}

.current_book_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.current_book_info ul {
  list-style: none;
}

/*vertically aligns site title in header*/
h2 {
  margin: 0;
}



.header_nav {
  height: 55px;
  background-color: rgb(56,63,81);
  color: white;
  display: flex;
}

.title {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation {
  height: 100%;
  width: 100%;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.nav_list {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

.nav_head {
  margin-right: auto;
  font-family: 'Libre Baskerville', serif;
}

.nav_list {
  margin-left: 20px;
  margin-right: 20px;
}

.nav_list li {
  font-size: 18px;
  padding: 10px 10px;
}

.nav_list li a {
  color: white;
  font-size: 14px;
}

main {
  margin: 50px auto;
  width: 65%;
  color: white;
}

.home_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(221,219,241,0.9);
  color: rgb(56,63,81);
}

.home_body p {
  margin: 10px 25px 10px 25px;
}

.home_body button {
  margin: 10px;
  background-color: rgba(221,219,241,0.7);
  border: 1px solid rgb(56,63,81);
  color: rgb(56,63,81);
  width: 100px;
}

.alert {
  background-color: rgb(56,63,81);
  color: rgb(221,219,241);
}

.night-stand {
  width: 100%;
  background-color: rgba(56,63,81,0.9);
  color: white;
}

.night-stand-header {
  margin: 0 auto;
  text-align: center;
}

.night-stand-header h1 {
  padding-top: 15px;
}

.books-to-repeat {
  display: flex;
  align-items: center;
  margin: 25px;
}

.book-selection-options h4 {
  text-align: center;
}

.book-selection-list {

}

.recommend-book-selection-list {
  list-style: none;
  width: 50%;
}

.add-book-button {
  margin: 10px;
  background-color: rgb(221,219,241);
  border: 2px solid white;
  color: rgb(56,63,81);
  padding: 10px;
  border-radius: 0;
}

.add-book-button:hover {
  background-color: rgb(56,63,81);
  color: rgb(221,219,241);
}

.no_current_book {
  padding: 15px;
  text-align: center;
}

.night-stand-progress {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.progress-bar-style {
  background-color: rgb(221,219,241);
  color: rgb(56,63,81);
  font-weight: bold;
}

.night-stand-buttons ul {
  list-style: none;
}

.night-stand-buttons button {
  text-align: center;
  width: 175px;
  margin: 10px;
  background-color: rgb(221,219,241);
  border: 2px solid white;
  color: rgb(56,63,81);
  padding: 10px;
  border-radius: 0;
}

.night-stand-buttons button:hover {
  background-color: rgb(56,63,81);
  color: rgb(221,219,241);
}

.recommend-book-selection-options {
  background-color: rgba(56,63,81,0.9);
  position: relative;
  padding-bottom: 25px;
}

.recommend-book-selection-options h3 {
  padding-top: 25px;
  text-align: center;
}

.recommend-book-button-list {
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.recommend-book-button-list li {
  margin: 5px;
}

.recommend-book-button-list li button {
  height: 46px;
  width: 100px;
  background-color: rgb(221,219,241);
  border: 2px solid white;
  color: rgb(56,63,81);
}

.book-shelf-main h1 {
  margin-top: 5px;
}

.book-shelf-main {
  padding: 25px;
  background-color: rgba(128,128,128,0.9);
}

.books-accordion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default {
  background-color: rgba(56,63,81,0.9);
  color: rgb(221,219,241);
  border-color: white;
  border-radius: 0;
}

.book-details ul {
  list-style: none;
  font-size: 16px;
  color: white;
}

.panel-default>.panel-heading {
  background-color: rgba(56,63,81,0.9);
  color: white;
}

.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}

.update-progress-modal {
  background-color: rgb(60,122,137);
  color: white;
}

.update-progress-modal input {
  color: rgb(60,122,137);
}

.progress-button {
  background-color: rgb(246,130,140);
  border: 2px solid white;
  color: white;
  border-radius: 0;
}
