<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Search for your book!</h3>
</div>
<div class="modal-body" id="modal-body">
  <form ng-submit="ns.bookSearch()">
    <label for="newBookTitle">Title</label>
    <input name="newBookTitle" ng-model="mc.newBook.title" required>

    <label for="newBookAuthor">Author</label>
    <input name="newBookAuthor" ng-model="mc.newBook.author">

    {{mc.newBook.title}}

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="mi.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="mc.close()">Cancel</button>
  </div>
  </form>
</div>
