<div class="home_body">
  <h1 class="text-center">The Challenge: 52 Books in 52 Weeks</h1>
  <p>The purpose of A Book A Week is to help keep you on track to complete the challenge. The Night Stand stores your current book and will show you how many pages you need to read per day to stay on track. Head over to the book shelf to see your progress towards the overall goal.</p>
  <p>Log In to update your progress or to add a new book.</p>
  <div>
    <div uib-alert ng-repeat="alert in hm.alerts track by $index" ng-class="alert">
      {{alert.msg}}
    </div>
  </div>
  <button ng-click='hm.logIn()'>Login</button>
</div>
