<div class="recommend-book-selection-options" ng-show="rb.books">
  <h3>Other books by {{rb.becauseYouRead}}</h3>
  <div class="books-to-repeat" ng-repeat="books in rb.books track by $index">
    <img ng-src="{{books.volumeInfo.imageLinks.thumbnail}}" />
    <ul class="recommend-book-selection-list" >
      <li>Title: {{books.volumeInfo.title}}</li>
      <li>Authors: <span ng-repeat="authors in books.volumeInfo.authors track by $index">{{authors}} </span></li>
      <li>Pages: {{books.volumeInfo.pageCount}}</li>
    </ul>
    <ul class="recommend-book-button-list">
      <li><button ng-click="rb.selectBook($index)">Select This Book</button></li>
      <li ng-show="books.volumeInfo.previewLink !== undefined"><a href="{{books.volumeInfo.previewLink}}" target="_blank"><button>Preview This Book</button></a></li>
    </ul>
  </div>

</div>
